* {
    font-family: Roboto;
    color: gray;
}
  
  body {
    background-image: url(assets/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    overflow: hidden;
    margin: 0 auto;
    height: 100vh;
}

.container {
  margin-top: 15vh;

}
  .containerLogin{
    width: 75%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 3%;
    background-image: url(assets/herologinbg.jpg);
    background-size: cover;

}

.containerHero h1 {
  font-size: 30px;
  color: rgb(65, 65, 65);
}

.containerHero p {
  color: rgb(65, 65, 65);
}

.containerHero{
  width: 80%;
  display: block;
  padding: 50px;
}

.containerLoginForm {
  width: 50%;
  background-color: white;
  padding: 50px;
}

.containerLoginForm h2 {
  padding-left: 20px;
}
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
}
  
.loginButton {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
   .loginButton:hover {
    opacity: 0.8;
}
  
.imgAvatar {
    text-align: center;
    margin: 24px 0 12px 0;
}
  
img.avatar {
    width: 20%;
    border-radius: 50%;
}
  
.containerForm {
    padding: 16px;
}
  
span.password {
    float: right;
}
  
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
    .cancelbtn {
      width: 100%;
  }
}